@import 'utils/variables';
@import 'components/type';
@font-face {
    font-family: kilo;
    src: url(../assets/fonts/Kilo.otf);
}
@font-face {
    font-family: cyrene;
    src: url(../assets/fonts/Cyrene+Regular+Advanced.otf);
}
@font-face {
    font-family: figtree;
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}
body{
    margin: 0;
    background-color: #e3e0ef;
    position: relative;
}
a{
  text-decoration: none;
  color: $color-btn;
}
.transition{
  width: 100%;
  height: 100%;
  position: fixed;
    overflow: hidden;
    top: 0%;
    z-index: 10;
    pointer-events: none !important;
    &__star{
        background: url(../assets/images/Star-black.svg) center no-repeat;
        aspect-ratio: 1;
        position: absolute;
        width: 10%;
        height: 10%;
        left: 50%;
        bottom: -10%;
        transform: translateX(-50%);
        &2{
            background: url(../assets/images/Star-black.svg) center no-repeat;
            aspect-ratio: 1;
            position: absolute;
            width: 300%;
            height: 300%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);    
        }
    }
}
.bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}
.title{
    margin: 0;
    font-family: kilo;
    width: 90%;
    text-align: center;
    line-height: 120%;
    margin: 0 auto;
}
.subtitle{
    font-family: cyrene;
    font-size: $subtitlesmall;
    line-height: 100%;
    margin: 0;
}
.subsubtitle{
    font-family: cyrene;
    font-size: $subtitlesmall;
    line-height: 100%;
    margin: 0;
}
.paragraph{
    font-family: figtree;
    font-size: $p;
    max-width: 50ch;
    margin-bottom: 2.25em;
}
.landing{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__line{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__symbol{
    width: 1.5em;
    margin: 0 0.5em;
  }
}
.section{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
.nav{
  color: var(--color-text-nav);
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 0em 1em ;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  &__list{
    display: none;
    flex-flow: row nowrap;
    list-style: none;
    font-family: Cyrene;
    font-size: $p;
    
  }
  &__logo{
    width: 3.15em;
    margin: 1.5em 0;
  }
  &__el{

    padding: 0 0.5em;
    border-bottom: solid white;
    &:hover{
        cursor: pointer;
        transition: 0.2s;
        
    }
  }
}
.btn{
  transition: 0.1s;
  font-family: Cyrene;
  border: none;
  padding: 0.5em ;
  border-radius: $p ;
  font-size: $p;
  background-color: $color-bg-btn;
  color: $color-btn;
  margin: 0.25em 0;
  &:hover{
    cursor: pointer;
    transition: 0.1s;
    background-color: $color-btn;
    color: $color-bg-btn;
  }
}
.aboutme{
  justify-content: center;
}
.aboutme__skills{
  width: 80%;
}
.projets{
display: flex;
flex-direction: column;

  width: 80%;
  height: 150vh;
  margin: 0 auto;

    &__img{
      border-radius: 2.25em;
      width: 45%;
    }
    &__1{
    
      position: absolute;
        
        left: 35%;
    }
        &__2{
          position: absolute;
          right: 0%;

        
    }
            &__3{
              position: absolute;
          right: 35%;

        
    }
    &__text{
        margin: 0 0 0 3.38em;
        display: flex;
        flex-flow: column wrap;


    }
    &__attributs{
        list-style: none;
        font-size: $p;
        font-family: figtree;

    }

}
.link{
z-index: 20;
}
.casestudy{
    &__title{
        font-family: cyrene;
    }
    &__landing{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__top{
        &container{
        height: 50vh;
        overflow: hidden;
        border-radius: 2.25em;
        }
        &img{
          width: 100%;
          
        }
    }
    &__bottom{
        width: 60%;
        margin: 0 auto;
        display: grid;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3.38em;
    }
    &__stats{
        width: 50%;

        top: 10%;
        height: fit-content;
    }
    &__el{
      font-family: figtree;
      
    }
    &__link{
      margin-top: 2.25em;
    }
    &__images{
      display: flex;
      flex-direction: row;
      margin-bottom: 1.5em;
      &col{
        flex-direction: column;
      }
      
      

    }
    &__text{
      padding-bottom: 3.38em;
    }
    &__image{
      width: 100%;
      margin-bottom: 1.5em;
    }
    &__pic{
        width: 30%;
        height: auto;
        object-fit: contain;
        margin-right: 1.5em;
      }
      &__link{
        margin-bottom: 2.25em;
      }

}
.stage{
  width: 80%;
  margin: 0 auto;

}
.footer{
  background-color: black;
  height: 50vh;
  width: 100vw;
  font-family: cyrene;
  font-size: 2.25em;

  &__txt{
    width: 65%;
    margin: 0 auto;
  }
  &__li{
    margin: 0.67em 1em ;
  }

}
.navbottom{
  height: 15vh;
  box-sizing: border-box;
  padding: 2.25em 1.5em;
  width: 100vw;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  &__arrow{
    width: 5.08em;
  }
  &__link{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media(min-width: 800px){
  .nav__list{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    font-family: Cyrene;
    font-size: $p;
  }
  .title{
    margin: 0 auto;
    font-family: kilo;
    font-size: $title;
    line-height: 120%;
}
.subsubtitle{
    font-family: cyrene;
    font-size: $subtitlesmall;
    line-height: 100%;
    margin: 0;
}
.landing{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__line{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.aboutme__skills{
  width: 60%;
}
.stage{
  width: 60%;
  margin: 0 auto;

}
.projets{
  width: 60%;
}
.section{

  width: 60%;

}
.casestudy__bottom{
  width: 60%;
  margin: 0 auto;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3.38em;
}
.casestudy__stats{
        width: 50%;
        position: sticky;
        top: 10%;
        height: fit-content;
    }
}
.footer__copy{
  color: white;
}
