$c-bg: #efefef;
$c-alt: #e41612;
$c-text: #444;
$extrasmall: clamp(0.3333rem, 0.2754rem + 0.2899vw, 0.5rem);
$small: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem);
$lilsmall: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
$p: clamp(1.125rem, 0.9293rem + 0.9783vw, 1.6875rem);
$subtitlesmall: clamp(1.6875rem, 1.394rem + 1.4674vw, 2.5313rem);
$subtitle: clamp(2.5313rem, 2.091rem + 2.2011vw, 3.7969rem);
$title: clamp(3.7969rem, 3.1365rem + 3.3016vw, 5.6953rem);
$step-5: clamp(5.6953rem, 4.7048rem + 4.9524vw, 8.543rem);
$size-text: 18px;


  $color-text: #000000;
  $color-bg-btn: #000000;
  $color-text-nav: #000000;
  $color-btn: #dfcae9;

