:root {
  --step-6: clamp(4.7684rem, 15.6131rem + -13.9932vw, 12.8145rem);
  --step-3: clamp(2.4414rem, 4.2683rem + -2.3573vw, 3.7969rem);
  --step-1: clamp(1.5625rem, 1.731rem + -0.2174vw, 1.6875rem);
  --color-text: #000000;
  --color-bg-btn: #000000;
  --color-text-nav: #000000;
  --color-btn: #ffffff;
}

@media (prefers-color-scheme: dark) {
  
  :root {
    --color-text: #dfcae9;
    --color-bg-btn: #dfcae9;
    --color-text-nav: #000000;
    --color-btn: #000000;
  }
}

[data-theme="light"] {
  --color-text: #000000;
  --color-bg-btn: #000000;
  --color-text-nav: #000000;
  --color-btn: #dfcae9;
}

[data-theme="dark"] {
  --color-text: #dfcae9;
  --color-bg-btn: #dfcae9;
  --color-text-nav: #000000;
  --color-btn: #000000;
}

@font-face {
  font-family: Cyrene;
  src: url(Cyrene+Regular+Advanced.otf);
}
@font-face {
  font-family: figtree;
  src: url(Figtree-VariableFont_wght.ttf);
}
@font-face {
  font-family: Kilo;
  src: url(Kilo.otf);
}
.bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
body{
  color:var(--color-text);
  font-family: figtree;
  margin: 0;
}
.section{
  display: flex;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
}

.title{

  font-family: Kilo;
  font-size: var(--step-6);
}
.subtitle{

  font-family: Cyrene;
  font-size: var(--step-3);
}
.paragraph{
  font-size: var(--step-1);
  max-width: 50ch;
  margin-bottom: 2.25em;
}
.landing{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  font-family: Cyrene;
  border: none;
  padding: 0.5em var(--step-1);
  border-radius: var(--step-1);
  font-size: var(--step-1);
  background-color: var(--color-bg-btn);
  color: var(--color-btn);
  margin: 0.25em 0;

}

.nav__logo{
  width: 3.15em;
}
.nav{
  color: var(--color-text-nav);
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 0.5em 1em;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.nav__list{
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  font-family: Cyrene;
  font-size: var(--step-1);

}
.nav__el{

  margin-left: 1em;

}
.aboutme__txt, .projets__txt{
  /*backdrop-filter: blur(10px);*/
  padding: 2.25em 1.5em;
  border-radius: 1.5em;
}
.aboutme__skills{
  width: 50%;
}
.projets{
    flex-direction: column;
}
.projets__slider{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

}
.projets__web, .projets__dessin, .projets__3d{

  width: 100%;
  display: flex;
  flex-flow: row nowrap ;
  align-items: center;
  justify-content: center;
}
.projets__dessin--1, .projets__dessin--2, .projets__dessin--3{
  padding: 1em 0;
  /*backdrop-filter: blur(10px);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.5em;
  font-size: var(--step-1);
  border-radius: 1.5em;
  
}
.projets__dessin--1 img, .projets__dessin--2 img, .projets__dessin--3 img{

  width: 100%;
  border-radius: 1.5em;
  
  
}

.footer{
  background-color: black;
  box-sizing: border-box;
  height: 20em;
  width: 100%;
  padding: 1em 2.25em;
}
.footer__subtitle{
  color: aliceblue;
}
.darkmode{
  padding: 0.5em var(--step-1);
}